    <style>
    
    @font-face {
    	font-family: kiwi ;
    	src: url(https://dl.dropbox.com/s/388cvx0do21kj3n/KiwiSoda.ttf);}
 
 
    	.kiwifont {
    		font-family:'kiwi';
    		font-size: 100px;
    		margin-top: -80px;
    		margin-left: -90px;
    		filter: drop-shadow( 0 3px #8B4513) drop-shadow( 2px 0 #8B4513) drop-shadow( 0 -1px #8B4513) drop-shadow( -1px 0 #8B4513) drop-shadow( 0 5px white) drop-shadow( 5px 0 white) drop-shadow( 0 -5px white) drop-shadow( -5px 0 white) drop-shadow(1px 1px 0 rgb(139,69,19)) drop-shadow(1px 1px 0 rgb(139,69,19)) drop-shadow( 0 0 2px #8B4513);
   	color:#DEB887;  	}
   	.kiwifont:hover{ 
  text-decoration-line: underline;
  text-decoration-style: solid;
}    
    
    		
    		
    	.box {
    		width: 50%;
    		height: 450px;
    		border: 1px solid black;
    		margin: auto;
    		margin-top: 10%;
    		padding: 2%;
    		border-radius: 20px;
    		filter: drop-shadow( 0.2rem 0.2rem 8px black);
    		background-color: white;
    	}

  h1, h2 {
	width: 100%;
	text-align:center;
}

h1 {
	padding-top: 0.5em;
	color:rgba(30,30,30,1);
}

h2 {
	color:rgba(50,50,50,1);
	padding-bottom: 2em;
}
.wf-loading h1 {
	font-family: sans-serif;
}

.wf-inactive h1 {
	font-family: sans-serif;
}

.wf-active h1 {
	font-family: 'Satisfy', sans-serif;
	font-size: 8em;
	line-height:0em;
	font-weight: 900;
	text-shadow:0 1px #fff;
}

.wf-loading h2 {
	font-family: serif;
}

.wf-inactive h2 {
	font-family: serif;
}

.wf-active h2 {
	font-family: 'Exo', serif;
	font-size: 1.75em;
	line-height:0em;
}

body {
	background:url('http://www.erickiddesign.com/playtime/fauxtobooth/grey.png');
}

div.video {
	border-radius: 20px;
	width: 640px;
	overflow:hidden;
	margin: 0 auto;
	background:#fff;
}

a.button {
	display:block;
	height: 3em;
	width: 9em;
	color:#fff;
	text-align: center;
	line-height:3.2em;
	text-decoration:none;
	font-size:2em;
	margin: 2em auto;
	border-radius:0.5em;
	overflow:hidden;
}

.wf-active a.button {
	font-family: 'Satisfy', serif;
	text-shadow: 1px 0 rgb(80,0,0);
}

a#activate {
	background: rgb(220,0,0);
	box-shadow: 0px 1px 1px rgb(80,0,0), inset 0px 1px 1px rgb(255,200,200);
}

a#activate:hover {
	background:rgb(220,50,50);
}

a#activate:active {
	box-shadow: inset 0px 1px 1px rgb(80,0,0), 0px 1px 1px rgb(255,200,200);
	line-height:3.3em;
}

a#download {
	background: rgb(0,100,0);
	box-shadow: 0px 1px 1px rgb(0,40,0), inset 0px 1px 1px rgb(200,255,200);
	height:0;
	width: 11em;
}

a#download:hover {
	background: rgb(0,200,0);
}

a#download:active {
	box-shadow: inset 0px 1px 1px rgb(0,40,0), 0px 1px 1px rgb(200,255,200);
	line-height:3.3em;
}

h1#countdown {
	color: rgba(0,0,200,1);
	line-height:0;
}

h1.countdown {
	font-size:4em;
}

canvas {
	display:none;
}

img {
	width: 50%;
	margin:0 25%;
}


    
    </style>

