    <style>
    
    @font-face {
    	font-family: kiwi ;
    	src: url(https://dl.dropbox.com/s/388cvx0do21kj3n/KiwiSoda.ttf);}
 
 
    	.kiwifont {
    		font-family:'kiwi';
    		font-size: 100px;
    		margin-top: -80px;
    		margin-left: -90px;
    		filter: drop-shadow( 0 3px #8B4513) drop-shadow( 2px 0 #8B4513) drop-shadow( 0 -1px #8B4513) drop-shadow( -1px 0 #8B4513) drop-shadow( 0 5px white) drop-shadow( 5px 0 white) drop-shadow( 0 -5px white) drop-shadow( -5px 0 white) drop-shadow(1px 1px 0 rgb(139,69,19)) drop-shadow(1px 1px 0 rgb(139,69,19)) drop-shadow( 0 0 2px #8B4513);
   	color:#DEB887;  	}
   	.kiwifont:hover{ 
  text-decoration-line: underline;
  text-decoration-style: solid;
}    
    
    		
    		
    	.box {
    		width: 50%;
    		height: 450px;
    		border: 1px solid black;
    		margin: auto;
    		margin-top: 10%;
    		padding: 2%;
    		border-radius: 20px;
    		filter: drop-shadow( 0.2rem 0.2rem 8px black);
    		background-color: white;
    	}

 
